{{ define "homeButton" }}
<div id="home-button-div" class="touch">
    <a id="home-button-a" href="." class="transition">
        <img id="home-button-img" src="{{ .Conf.BaseUrl }}{{ .Res.Home.dog }}">
    </a>
</div>
{{ end }}